


@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}
.notification-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: -5px;
  transform: translateY(-50%);

  }

  .flatpickr-calendar .flatpickr-day.selected {
    background-color: #373737;
    color: #ffffff; /* Texto branco */
    border-color: #ffffff; /* Cor da borda branca */
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(255, 0, 85), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
}
